*{
    padding-top: 0%;
    margin: 0%;
    box-sizing: border-box;
}
nav ul{
   
    width: 30%;
    
}
nav li{
    font-size: 20px;
    margin-left : 0%; ;

}
.margin{
    margin: 0% 0%;
}
.float-right{
float: right;

}
.display{
display: inline-block;
}
.container{
    width:80% ;
    ;
    margin: auto;
    padding-top: 2%;
}
.top-bottom-padding{
    padding-bottom: 2%;
    padding-top: 2%;
}
.text-center{
text-align: center;

}
 .overlay{
    background-color: rgba(0, 0, 0, 0.562);
}
.card{
    width: 30%;
    padding: 3% 2%;
}
hr{
    margin:2% auto;
}
.trans{
    background-color: transparent;
    border: 1px solid;
}
.clear{
    clear:both;
}


.bg-image{
    background-image: url(../image/2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: ;
    
}
.text-white{
    color: white;
}
.bg-dark{
    background-color: rgba(0, 0, 0, 0.685);
}